.menu::before {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 33%;
  width: 35%;
  height: 10%;
  border: #000 0.1px solid;
  border-color:#fff #fff transparent #fff;
  border-radius: 650%/1200px 1200px 0 0;
}
/* .menu {
  border: #000 1px solid;
  border-radius: 0 0 50% 50%/0 0 50% 50%;
} */